<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>TV Series</title>

  <style type="text/css">
    body {
      background-image: linear-gradient(rgba(87, 87, 87, 0.6), rgba(50, 50, 50,0.6)), url('https://cdn.uploadvr.com/wp-content/uploads/bfi_thumb/BreakingBad-1000x625-n9l4mgo1jtv0sn8u7ecfuoqxv88lwzqwizkuydxsa2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }

    #mainPageBox {
      background: rgba(20, 20, 20, 0.7);
      border-radius: 3px;
      top: 38%;
      left: 38%;
      transform: translate(0, -80%);
    }

    .text {
      color: #FFFEF6;
    }



  </style>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand mr-5">TV Series</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="/mainpage">Series</a>
        <a class="nav-link" href="/editpage">Edit Content</a>
      </nav>
    </div>
  </header>

  <div class="container p-3" id="mainPageBox">
    <div class="row justify-content-center align-content-center" id="mainPageBoxRow">
      <h3 class="text">Follow your favorite series</h3>
    </div>
    <div class="row justify-content-center align-content-center"><a href="/mainpage" class="btn btn-lg btn-outline-light">Take a Look</a>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>